.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 200px;
  border: 1px solid var(--theme-testimonial-card-border);
  border-radius: 15px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;

  color: var(--theme-testimonial-card-text);

  background: var(--theme-testimonial-card-background);
}

.quote {
  z-index: 1;
  margin: 0;
  padding: 32px;
}

.author {
  display: flex;
  align-items: center;

  height: 50px;
  border-color: var(--theme-secondary-bright);
  border-style: solid;
  border-width: 1px;
  border-bottom-color: var(--theme-primary-dark);
  border-radius: 25px;
}

.author::before {
  content: '';

  position: absolute;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  /* stylelint-disable-next-line alpha-value-notation */
  opacity: calc(5% * (1 - var(--theme-is-contrast)));
  background: var(--theme-primary-bright);
}

.authorPicture {
  width: 40px;
  height: 40px;
  margin: 5px 10px 5px 5px;
  border-radius: 100%;
}

.authorTitle {
  display: flex;
  flex-direction: column;
}

.authorName {
  margin-right: 0.5em;
  font-weight: bold;
  line-height: 1em;
}

.authorRole {
  font-size: 0.8em;
  font-style: italic;
  line-height: 1em;
}

@media screen and (width <= 42rem) {
  .card {
    font-size: 0.8em;
  }
}
