.animatedScroll {
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

  animation-range: entry 0% entry-crossing 100%;

  animation-timeline: --experience-transition;
}

.anchor {
  transform: translateY(-5.5em);
}

.section {
  display: flex;
  flex-direction: column;
}

.title {
  position: relative;

  margin-bottom: 0;

  font-size: 10em;
  text-align: center;
  text-transform: uppercase;
}

.title::after {
  content: 'experience';

  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;

  color: transparent;
  text-shadow: 0 0 var(--theme-experience-transition-adjust);

  background: linear-gradient(
    90deg,
    var(--theme-primary-bright),
    var(--theme-secondary-bright)
  );
  background-clip: text;
  mix-blend-mode: color-burn;
}

.transitionContainer {
  height: 500px;

  view-timeline-name: --experience-transition;
}

.transitionOverflow {
  --translate-y-end: -125vh;
  --height-end: 500px;

  composes: animatedScroll;

  overflow: hidden;

  max-width: 100%;
  height: var(--height-end);

  animation-name: transitionOverflow;
}

@keyframes transitionOverflow {
  0% {
    transform: translateY(var(--translate-y-end));
    height: 200vh;
  }

  100% {
    height: var(--height-end);
  }
}

.transitionLine {
  --margin-left-start: auto;
  --margin-left-middle: auto;
  --margin-left-end: auto;
  --scale-start: 1.5;

  composes: animatedScroll;

  width: 2px;
  height: 100%;
  margin: 0 auto;

  background: linear-gradient(
    to right,
    var(--theme-secondary-bright),
    var(--theme-primary-bright)
  );
  border-radius: 50px;

  animation-name: transitionLine;
}

@keyframes transitionLine {
  0% {
    transform: perspective(150px) rotateX(10deg)
      scale(var(--scale-start));
    width: 100%;
    margin-left: var(--margin-left-start);
    border-radius: 50vw 50vw 0 0;
  }

  30% {
    transform: perspective(100px) rotateX(5deg) scale(1);
  }

  75% {
    width: 10%;
    margin-left: var(--margin-left-middle);
  }

  100% {
    width: 2px;
    margin-left: var(--margin-left-end);
    border-radius: 50px 50px 0 0;
  }
}

.timelineBackground {
  background: linear-gradient(
    to right,
    var(--theme-secondary-bright),
    var(--theme-primary-bright)
  );
  background-repeat: repeat-y;
  background-position: center;
  background-size: 2px;

  mask-image: linear-gradient(
    rgba(0, 0, 0, 100%) calc(100% - 20vh),
    rgba(0, 0, 0, 25%) calc(100% - 10vh),
    transparent 100%
  );
}

.timeline {
  composes: timelineBackground;

  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  max-width: 1600px;
  margin: auto;
  padding: 0;
}

@media screen and (width <= 84rem) {
  .title {
    font-size: 5em;
  }
}

@media screen and (width <= 42rem) {
  .section {
    margin-top: 40vh;
  }

  .title {
    margin: 0 25px;
    font-size: 2.5em;
    text-align: left;
  }

  .transitionContainer {
    height: 250px;
  }

  .transitionOverflow {
    --translate-y-end: -60vh;
    --height-end: 250px;
  }

  .transitionLine {
    --margin-left-start: 0;
    --margin-left-middle: 50%;
    --margin-left-end: 50px;
    --scale-start: 3;
  }

  .timelineBackground {
    background-position: 50px;
  }
}

@media screen and (width <= 32rem) {
  .transitionLine {
    --margin-left-end: 25px;
  }

  .timelineBackground {
    background-position: 25px;
  }
}
