.anchor {
  transform: translateY(-2.5em);
}

.section {
  margin: -2em 0;
}

.content {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

.title-container {
  position: relative;

  background: linear-gradient(
    to right,
    var(--theme-primary-bright),
    var(--theme-secondary-bright)
  );

  padding: 5em 0;
  transform: skewY(-10deg);
}

.title {
  position: relative;
  z-index: 2;
  margin: 0 auto;

  color: white;
  font-size: min(12vw, 8em);
  text-align: center;
  text-transform: uppercase;
}

.title.contrast {
  color: var(--theme-background);
}

.card {
  position: relative;
  margin: 0 auto;

  width: calc(100vw - 8em);
  max-width: 1000px;
}

.card-content {
  margin: 50px 0;
  padding: 2em;

  border: var(--theme-glass-border);
  border-radius: 16px;

  background: var(--theme-glass-background);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

  white-space: wrap;
  overflow: auto;
}

@media screen and (max-width: 550px) {
  .section {
    font-size: 0.9em;
  }

  .title-container {
    padding: 3em 0;
  }

  .card {
    width: calc(100vw - 2em);
  }

  .card-content {
    padding: 1em;
  }
}
