{
  "plugins": [
    "@typescript-eslint",
    "perfectionist",
    "import",
    "unused-imports",
    "prefer-arrow-functions"
  ],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:perfectionist/recommended-natural"
  ],
  "ignorePatterns": [
    "**/node_modules",
    "**/out",
    "**/playwright-report",
    "**/.next",
    "**/test-results"
  ],
  "rules": {
    // Code style
    "object-shorthand": "error",
    "arrow-body-style": ["error", "as-needed"],
    "prefer-arrow-functions/prefer-arrow-functions": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    // TypeScript
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-empty-function": "off",
    // React
    "react/self-closing-comp": "warn",
    // Next
    "@next/next/no-img-element": "off",
    // Imports & exports
    "unused-imports/no-unused-imports": "warn",
    "import/first": "warn",
    "import/no-duplicates": "warn",
    "import/newline-after-import": "warn",
    "perfectionist/sort-imports": [
      "warn",
      {
        "type": "natural",
        "order": "asc",
        "newlines-between": "always",
        "groups": [
          "side-effect",
          "builtin",
          "react",
          "next",
          ["external", "external-type"],
          ["internal", "internal-type"],
          ["parent", "parent-type"],
          ["sibling", "sibling-type"],
          "style",
          "unknown"
        ],
        "custom-groups": {
          "value": {
            "react": ["react", "react-dom"],
            "next": ["next", "next/*"]
          }
        }
      }
    ]
  }
}
