.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0 16px;
  align-items: center;
}

.button {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  padding: 0;
  border: none;

  font-size: 2.5rem;
  color: var(--theme-chat-accent);

  opacity: 80%;
  background: none;
}

.progress {
  width: 225px;
  height: 8px;
  padding: 2px;
  border: 1px solid var(--theme-text);
  border-radius: 8px;

  opacity: 80%;
  background: var(--theme-background);
}

.progressBar {
  width: 50%;
  height: 100%;
  border-radius: 8px;

  opacity: 90%;
  background: var(--theme-chat-accent);

  transition: width 250ms ease-in-out;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

.speedButton {
  cursor: pointer;

  width: 4em;
  border: none;
  border-radius: 1em;

  color: var(--theme-background);

  opacity: 90%;
  background: var(--theme-chat-accent);
}

@media screen and (width <= 42rem) {
  .progress {
    width: 125px;
  }
}
