.container {
  position: relative;
}

.anchor {
  transform: translateY(-80px);
}

.divider {
  display: block;
  width: 100%;
  height: 8vw;
  transform: translateY(5px);
  z-index: 1;
}

.divider-bottom {
  transform: rotate(180deg) translateY(5px);
}

.section {
  /* Stacking context */
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px;
  margin: 0;
  overflow: hidden;

  background: linear-gradient(
    var(--theme-primary-dark),
    var(--theme-secondary-bright)
  );
  color: white;
}

.title {
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}

.swiper {
  width: 600px;
  max-width: calc(80vw - 200px);
}

.navigation-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  background: none;

  font-size: 64px;
  color: white;
}

.navigation-button.previous-button {
  left: -125px;
}

.navigation-button.next-button {
  right: -125px;
}

.swiper :global(.swiper-slide) {
  margin: auto;
}

.swiper :global(.swiper-slide-shadow) {
  border-radius: 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

@media screen and (max-width: 550px) {
  .swiper {
    max-width: 80vw;
  }

  .navigation-button {
    display: none;
  }
}
