.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 50px 0;
  z-index: 0;
}

.switch-button {
  width: 200px;
  margin-bottom: 16px;
  padding: 8px;

  color: var(--theme-text);
  background: var(--theme-background-opaque);
  box-shadow: var(--theme-shadow) 0px 4px 12px;
  border: 2px solid var(--theme-primary-dark);
  border-radius: 8px;
}

.switch-button:hover,
.switch-button:focus {
  border: 2px solid var(--theme-secondary-dark);
}

/* Flip */
.flip {
  perspective: 10000px;
  height: 600px;
  width: 800px;
  max-width: 80vw;
  overflow: auto hidden;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flipper-flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

/* Radar chart view */
.hexagon {
  fill: none;
  stroke: var(--theme-text);
}

.line {
  stroke: var(--theme-text);
  opacity: 50%;
  stroke-dasharray: 3px;
}

.data {
  fill: var(--theme-secondary-dark);
  fill-opacity: 25%;

  stroke: var(--theme-primary-bright);
  stroke-width: 2px;
}

.feedback {
  stroke-width: 2px;
  fill-opacity: 50%;
}

.data:hover,
.feedback:hover {
  filter: opacity(50%);
}

.label {
  font-family: 'Major Mono Display';
  font-size: 10px;
  stroke: var(--theme-text);
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  margin-top: 16px;
}

.button {
  border: none;
  background: none;

  color: var(--theme-text);

  padding: 16px;
  margin: 0 8px;
  border-radius: 8px;
}

.button[aria-pressed='true'],
.button:hover,
.button:focus {
  background: var(--theme-background-opaque);
  box-shadow: var(--theme-shadow) 0px 4px 12px;
}

.button-icon {
  display: inline-block;

  width: 10px;
  height: 10px;

  border-width: 1px;
  border-style: solid;
  border-radius: 10px;

  margin-right: 4px;

  opacity: 90%;
}

/* Table view */
.table-view {
  border-spacing: 8px;
  text-align: right;
  margin: 32px auto 0 auto;
}

.table-view > caption {
  caption-side: bottom;
  font-style: italic;
  font-size: 0.8em;
  line-height: 1.3em;
}

.table-view th,
.table-view td {
  background: var(--theme-table-cell-background);
  border-bottom: 1px solid var(--theme-primary-bright);
  border-right: 1px solid var(--theme-primary-dark);
  padding: 8px 10px;
}

.table-view th:last-child,
.table-view td:last-child {
  font-weight: bold;
}

.table-view > tbody > tr:nth-child(odd) > td {
  border-bottom: 1px solid var(--theme-secondary-bright);
  border-right: 1px solid var(--theme-secondary-dark);
}

.table-view th {
  font-weight: normal;
  font-size: 14px;
}

.table-view td {
  font-family: Major Mono Display, monospace;
}

.table-view thead tr th:first-of-type {
  background: none;
  border: none;
}

.table-view tbody tr td:first-of-type {
  font-weight: bold;
  font-size: 16px;
}
