.container {
  margin-bottom: 25vh;
}

.size {
  width: calc(100vw - 6em);
  max-width: calc(1200px * 1.1);
  height: 80vh;
  max-height: calc(650px * 1.1);
}

.stickyContainer {
  position: sticky;
  top: 100px;
  transform: scale(0.9) translateY(100px);

  display: flex;

  margin: auto;
}

.videoContainer {
  position: relative;
  transform: translateZ(0);

  overflow: hidden;
  flex: 1;

  clip-path: 0 0;
  border-radius: 24px;
}

.sideTitle {
  position: absolute;
  right: 0;
  transform: translateX(100%);

  margin: 0;

  writing-mode: vertical-rl;
  font-family: 'Major Mono Display', monospace;
  font-size: 1.75em;
  white-space: nowrap;
}

.container:nth-child(even) .sideTitle {
  right: unset;
  left: 0;
  transform: translateX(-100%) scale(-1);
}

.video {
  position: absolute;
  inset: -100%;
  transform: translateZ(0);

  min-width: 100%;
  min-height: 100%;
  margin: auto;
}

.card {
  position: relative;
  z-index: 1;
  transform: translateY(175px);

  overflow-y: auto;
  display: flex;
  flex-direction: column;

  margin: -135px auto auto;
  padding: 2em;

  background: var(--theme-glass-background);
  backdrop-filter: blur(50px);
  border: var(--theme-glass-border);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 10%);
}

.cardContent {
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;

  max-height: 100%;
  padding-right: 4px;
}

.cardContent::-webkit-scrollbar {
  width: 8px;
}

.cardContent::-webkit-scrollbar-track {
  background-color: rgba(var(--theme-highlight-rgb), 10%);
  border-radius: 100px;
}

.cardContent::-webkit-scrollbar-thumb {
  background-color: var(--theme-accent-color);
  background-clip: content-box;
  border: 3px solid transparent;
  border-radius: 100px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(var(--theme-text-rgb), 10%);
}

.cardTitle {
  margin: 0;
  font-size: 1.75em;
}

.cardSubtitle {
  margin: 0;
  font-weight: normal;
  font-style: italic;
}

.cardDescription {
  columns: 35ch auto;
  column-rule: 1px solid rgba(var(--theme-text-rgb), 5%);
  flex: 1;
  column-gap: 5em;

  font-size: 0.9em;
}

@media screen and (width <= 42rem) {
  .cardHeader {
    flex-direction: column;
  }
}

@media screen and (width <= 30rem) {
  .container {
    font-size: 0.9em;
  }

  .card {
    transform: translateY(110px);
    margin: -50px auto auto;
    padding: 1em;
  }

  .sideTitle {
    top: 0;
    right: unset;
    transform: translateY(-100%);

    width: 100%;

    writing-mode: unset;
    font-size: 1.5em;
    text-align: left;
    white-space: unset;
  }

  .container:nth-child(even) .sideTitle {
    transform: translateY(-100%);
    text-align: right;
  }

  .size {
    width: calc(100vw - 4em);
    height: 75vh;
  }

  .stickyContainer {
    height: 40vh;
  }
}
