svg {
  outline: none;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--font-gray-color);
  border-bottom: 1px dashed var(--theme-secondary-dark);
  background-color: rgba(0, 0, 0, 0.05);
}

a:hover, a:active {
  text-decoration: none;
  border-bottom: 1px solid var(--theme-secondary-dark);
  background-color: rgba(0, 0, 0, 0.1);
}

span > .highlight {
  background: linear-gradient(
    to right,
    var(--theme-primary-bright),
    var(--theme-secondary-bright)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span > .heart {
  background: var(--theme-primary-bright);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--theme-primary-dark);
  font-style: normal;
}

section.changelog > h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 2.5em;
}

section.changelog > h3 {
  font-family: "Major Mono Display", monospace;
  font-size: 2em;
  color: var(--theme-secondary-bright);
}

section.changelog a {
  color: var(--theme-secondary-dark);
}