a:link, a:visited {
  text-decoration: none;
  color: var(--font-gray-color);
  border-bottom: 1px dashed var(--gradient-secondary-dark);
}

a:hover, a:active {
  text-decoration: none;
  border-bottom: 1px solid var(--gradient-secondary-dark);
}

span > .highlight {
  background: linear-gradient(
    to right,
    var(--gradient-primary-bright),
    var(--gradient-secondary-bright)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span > .heart {
  background: var(--gradient-primary-bright);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--gradient-primary-dark);
  font-style: normal;
}