.optionContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.optionButton {
  cursor: pointer;

  padding: 8px 24px;
  border: none;
  border-radius: 4px;

  color: var(--theme-text);

  background: var(--theme-background-opaque);
}

.optionButton:hover,
.optionButton:focus {
  background: var(--theme-background);
  transition: background-color 150ms ease-in-out;
}

.optionButton:disabled {
  opacity: 50%;
}
