.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2px;
  font-size: 0.75em;
  text-align: right;
}

.links {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  margin-bottom: auto;
}

.links > a {
  display: flex;
  align-items: center;
  gap: 4px;
  background: rgba(var(--theme-code-accent-rgb), 10%);
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 1.25em;
  color: rgba(var(--theme-code-accent-rgb), 100%);
  text-decoration-color: rgba(var(--theme-code-accent-rgb), 33%);
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
  margin: 0;
  padding: 2px 8px;
}

.links > a:hover {
  border-color: rgba(var(--theme-code-accent-rgb), 75%);
}

.links > a:first-child {
  font-weight: bold;
}

.links > a::after {
  content: none;
}

.links > a > svg {
  font-size: 1.35em;
}
