.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  opacity: 0%;
  background: var(--theme-backdrop);
  backdrop-filter: blur(15px);

  transition: opacity 250ms ease-in-out;
}

.backdrop[data-enter] {
  opacity: 100%;
  transition: opacity 250ms ease-in-out;
}

html[data-reduced-motion='true'] .backdrop {
  opacity: 100%;
}

.dialog {
  display: flex;
  flex-direction: column;

  width: min(600px, 100vw);
  height: min(800px, 100dvh);
  border-radius: 16px;

  opacity: 0%;
  background: var(--theme-background);

  transition: opacity 500ms ease-in-out;
}

.dialog[data-enter],
html[data-reduced-motion='true'] .dialog {
  opacity: 100%;
}

.header {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.headerRow {
  display: flex;
  justify-content: space-between;

  padding: 8px;
  border-bottom-style: outset;
  border-bottom-width: 6px;
}

.title {
  transform: translate(115px);
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.closeButton {
  cursor: pointer;

  padding: 0;
  border: none;

  font-size: 2em;
  color: #ebebeb;

  background: none;
  filter: drop-shadow(2px 2px 6px #666);
  mix-blend-mode: hard-light;
}

.wave {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--theme-background);
}

.content {
  overflow: hidden auto;
  margin: 16px 10px 16px 0;
  padding: 8px 24px 0 32px;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: var(--theme-scrollbar-track-color);
}

.content::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 100px;
  background-color: var(--theme-scrollbar-thumb-color);
  background-clip: content-box;
}

.image {
  position: absolute;
  z-index: 1;
  transform: translate(-30%, -20%);
}

.image > svg {
  height: 80px;
}

@media screen and (width <= 42rem) {
  .dialog {
    position: fixed;
    top: 0;

    width: 100%;
    height: 100dvh;
    border-radius: 0;
  }

  .dialog[data-enter] {
    width: 100%;
    height: 100dvh;
  }

  .header {
    border-radius: 0;
  }

  .image {
    transform: translate(-30%, -10%);
  }
}
