.container {
  display: flex;
  gap: 0.25em;
  align-items: center;
}

.dot {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;

  background: var(--theme-text);

  animation: bounce 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.15s;
}

.dot:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 50%;
  }

  40% {
    transform: translateY(0.1em);
    opacity: 60%;
  }

  60% {
    transform: translateY(-0.4em);
    opacity: 100%;
  }
}
