.footer {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 150px;
  padding: 16px;

  color: white;
}

.background {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 200vh;

  background-color: #121212;
  background-image: url('/images/topography.svg');
  background-position: center;
  background-size: contain;
}

.details {
  display: flex;
  gap: 8px;
  justify-content: space-between;

  width: 100%;

  font-size: 0.8em;
}

.details a {
  text-align: right;
}

.details a::after {
  content: '' !important;
}

.contactButton {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0 0 300px;
  padding: 0.5em 0.75em;
  border-width: 2px;
  border-image: linear-gradient(
    90deg,
    var(--theme-primary-bright),
    var(--theme-secondary-bright)
  );
  border-image-slice: 1;

  font-family: 'Major Mono Display', monospace;
  font-size: 2em;
  font-weight: bolder;
  color: transparent;
  text-transform: lowercase;

  background: linear-gradient(
    180deg,
    var(--theme-primary-bright),
    var(--theme-secondary-bright)
  );
  background-clip: text;

  -webkit-text-stroke: 0.04em;
}

.contactButtonDecoration {
  color: white;
}

.contactButtonDecoration::after {
  content: '_';
  animation: blink ease 1s infinite;
}

@keyframes blink {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@media screen and (width <= 28rem) {
  .contactButton {
    font-size: 1.5em;
  }

  .details {
    margin-top: 16px;
    font-size: 0.6em;
  }
}
