.container {
  display: flex;
}

.fadeIn {
  animation: fadeInRight 1s;
}

.picture {
  position: relative;

  flex: 1 0 auto;

  width: 2.75em;
  max-width: 2.75em;
  height: 2.75em;
  margin-top: 0.5em;
  margin-right: 1em;
}

.pictureImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -58%);

  width: 107%;
  height: 107%;

  clip-path: circle(50%);
}

.pictureArc {
  position: absolute;
  top: 0;
}

.pictureArcStroke {
  filter: drop-shadow(0 0 2px var(--theme-primary-bright));

  fill: none;
  stroke: url('#gradient');
  stroke-linecap: round;
  stroke-width: 3px;
}

.pictureArcFill {
  filter: blur(2px);
  fill: url('#gradient');
  fill-opacity: 30%;
}

.bubble {
  position: relative;

  width: fit-content;
  max-width: 50ch;
  height: fit-content;
  padding: 1em;

  font-size: 1em;

  background: var(--theme-chat-background);
  border-radius: 0.4em;
}

.bubblePointer {
  position: absolute;
  top: 1.7em;
  left: 0;

  width: 0;
  height: 0;
  margin-top: -0.6em;
  margin-left: -0.6em;

  border-top: 15px solid transparent;
  border-right: 20px solid var(--theme-chat-background);
  border-bottom: 15px solid transparent;
}

.bubble::after {
  pointer-events: none;
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: calc(100% + 0.15em);
  height: calc(100% + 0.15em);

  border-right: 1px solid var(--theme-secondary-dark);
  border-bottom: 1px solid var(--theme-primary-bright);
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.4em;
  border-bottom-left-radius: 0.3em;

  transition: border-color 500ms ease-in-out;
}

/* Outgoing styles */
.outgoing.fadeIn {
  animation: fadeInLeft 1s;
}

.outgoing.container {
  align-self: flex-end;
}

.outgoing .picture {
  display: none;
}

.outgoing .bubble {
  background: var(--theme-chat-outgoing-background);
}

.outgoing .bubblePointer {
  right: 0;
  left: unset;
  transform: scale(-1);

  margin-right: -0.6em;
  margin-left: 0;

  border-right-color: var(--theme-chat-outgoing-background);
}

.outgoing .bubble::after {
  left: -3px;

  border-right: none;
  border-bottom-color: rgba(var(--theme-highlight-accent-rgb), 75%);
  border-left: 1px solid rgba(var(--theme-highlight-rgb), 75%);
  border-top-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.4em;
}

@keyframes fadeInRight {
  0% {
    transform: translateX(2em);
    opacity: 0%;
  }

  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-2em);
    opacity: 0%;
  }

  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@media screen and (width <= 42rem) {
  .picture {
    width: 1.75em;
    max-width: 1.75em;
    height: 1.75em;
    margin-top: 0.75em;
    margin-right: 0.75em;
  }

  .bubble {
    font-size: 0.8em;
  }
}
