.card {
  box-shadow: var(--theme-shadow) 5px 5px 20px;
  border-radius: 8px;

  font-size: 0.75em;

  transition: all 500ms ease 100ms,
    transform 250ms cubic-bezier(0.21, -0.56, 0.43, 1.53);
}

.card:hover {
  transform: scale(120%);
}

.large.card:hover {
  transform: scale(110%);
}

.content {
  height: 150px;
}

.large {
  grid-column: span 2;
  grid-row: span 3;
}

.large > .content {
  height: 450px;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
}

.border {
  border: 2px solid var(--theme-text);
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 100%;

  background: none;
  border: none;
  border-radius: 0;
  padding: 0;

  cursor: pointer;
}

.name {
  margin: 0;
  padding: 8px 16px 2px 0;
  text-align: right;
  font-size: 1.2em;
  font-weight: normal;
  width: 100%;
}

.image {
  position: absolute;
  transform: translate(20%, -25%);

  width: 40px;
}

.image > svg {
  paint-order: stroke;
}

.large .image {
  width: 80px;
}

.teaser {
  width: 100%;
  min-height: 200px;
  padding: 32px 16px;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(
    176deg,
    transparent 0%,
    transparent 10%,
    var(--theme-background) 10.1%,
    var(--theme-background) 89.9%,
    transparent 90%,
    transparent 100%
  );
  color: var(--theme-text);
  opacity: 90%;
}

.teaser.contrast {
  opacity: 100%;
}

.info {
  padding: 4px;
  width: 100%;
}

.info > .wave-divider {
  display: block;
  fill: var(--theme-background-opaque);
  transform: translateY(0.25px);
}

.wave-divider.contrast > path {
  fill: var(--theme-background);
}

.info > .content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 16px 8px 8px 8px;

  width: 100%;
  height: 60px;

  font-weight: bold;
  color: var(--theme-text);

  background: var(--theme-background-opaque);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content-wrapper.contrast {
  background: var(--theme-background);
}

.content-wrapper > .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-size: 0.9em;
  height: 100%;
}

.large .content-wrapper > .content {
  font-size: 1.15em;
}

.content > .content-title {
  font-family: Major Mono Display, monospace;
  font-size: 0.8em;
  font-weight: normal;
}

.content-wrapper > .divider {
  border-right: 1px solid var(--theme-text);
  height: 100%;
  opacity: 15%;
  margin: 0 4px;
}

@media screen and (max-width: 21rem) {
  .content {
    height: 125px;
  }

  .large > .content {
    height: 375px;
  }

  .teaser,
  .info {
    font-size: 0.9em;
  }
}
