.animatedScroll {
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-timeline: view();

  animation-range: cover 0% contain 10%;
}

.card {
  composes: animatedScroll;

  will-change: transform, border-radius, box-shadow;

  position: relative;

  font-size: 0.75em;

  background-clip: content-box, border-box;
  background-origin: border-box;
  border: 2px solid transparent;
  border-radius: 8px;

  transition:
    all 500ms ease 100ms,
    transform 250ms cubic-bezier(0.21, -0.56, 0.43, 1.53);
  animation-name: transition;
}

.blurContainer {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border-radius: 6px;
}

.blur {
  position: absolute;
  top: -25%;
  right: -25%;
  transform: translate3d(0, 0, 0);

  width: 75%;
  height: 75%;

  backface-visibility: hidden;
  opacity: 50%;
  filter: blur(60px);

  transition:
    width ease-in-out 300ms,
    height ease-in-out 300ms,
    opacity ease-in-out 300ms;
}

.blur.light {
  right: unset;
  left: -25%;

  width: 100%;
  height: 100%;

  opacity: 75%;
}

.featured .blur {
  opacity: 30%;
  filter: blur(120px);
}

.featured .blur.light {
  width: 115%;
  height: 115%;
  opacity: 50%;
}

.card:hover .blur {
  width: 100%;
  height: 100%;
}

.card:hover .blur.light {
  width: 150%;
  height: 150%;
}

.content {
  position: relative;
  z-index: 1;
  height: 150px;
}

.featured {
  grid-column: span 2;
  grid-row: span 3;
}

.featured > .content {
  height: 450px;
}

.featured.card:hover .blur.light {
  width: 150%;
  height: 150%;
  opacity: 60%;
}

.border {
  border: 2px solid var(--theme-text);
}

.button {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 0;

  background: none;
  border: none;
  border-radius: 0;
}

.name {
  width: 100%;
  margin: 0;
  padding: 8px 12px 2px 0;

  font-size: 0.9rem;
  font-weight: 200;
  color: var(--theme-text);
  text-align: right;
}

.featured .name {
  font-size: 1.5em;
}

.image {
  position: absolute;
  transform: translate(20%, -45%);
}

.image > svg {
  width: 40px;
  height: 40px;
}

.featured .image > svg {
  width: 80px;
  height: 80px;
}

.brief {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: 200px;
  padding: 32px 16px;

  color: var(--theme-text);
  text-align: left;

  opacity: 90%;
  background: linear-gradient(
    176deg,
    transparent 0%,
    transparent 10%,
    var(--theme-background) 10.1%,
    var(--theme-background) 89.9%,
    transparent 90%,
    transparent 100%
  );
}

.brief > span {
  margin: 0.6em 0;
  padding-bottom: 0.5em;
}

.brief.contrast {
  opacity: 100%;
}

.info {
  width: 100%;
  padding: 4px;
}

.info > .contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 60px;
  padding: 16px 8px 8px;

  font-weight: bold;
  color: var(--theme-text);

  background: var(--theme-background-opaque);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.contentWrapper.contrast {
  background: var(--theme-background);
}

.contentWrapper > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 100%;

  font-size: 0.9em;
}

.featured .contentWrapper > .content {
  font-size: 1.15em;
}

.content > .contentTitle {
  font-family: 'Major Mono Display', monospace;
  font-size: 0.8em;
  font-weight: normal;
}

.contentWrapper > .divider {
  height: 100%;
  margin: 0 4px;
  opacity: 15%;
  border-right: 1px solid var(--theme-text);
}

@media screen and (width <= 21rem) {
  .content {
    height: 125px;
  }

  .featured > .content {
    height: 375px;
  }

  .brief,
  .info {
    font-size: 0.9em;
  }
}

@keyframes transition {
  from {
    transform: translateY(50px);
    opacity: 0%;
  }

  to {
    transform: translateY(0);
    opacity: 100%;
  }
}
