.card {
  position: relative;

  border: 2px solid transparent;
  border-radius: 8px;
  background-origin: border-box;
  background-clip: content-box, border-box;

  font-size: 0.75em;

  transition: all 500ms ease 100ms,
    transform 250ms cubic-bezier(0.21, -0.56, 0.43, 1.53);
}

.blurContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 6px;
  overflow: hidden;
}

.blur {
  position: absolute;
  top: -25%;
  right: -25%;
  width: 75%;
  height: 75%;

  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  opacity: 50%;
  filter: blur(60px);

  transition: width ease-in-out 300ms, height ease-in-out 300ms,
    opacity ease-in-out 300ms;
}

.blur.light {
  right: unset;
  left: -25%;
  width: 100%;
  height: 100%;
  opacity: 75%;
}

.card:hover .blur {
  width: 100%;
  height: 100%;
}

.card:hover .blur.light {
  width: 150%;
  height: 150%;
}

.content {
  position: relative;
  z-index: 1;

  height: 150px;
}

.large {
  grid-column: span 2;
  grid-row: span 3;
}

.large > .content {
  height: 450px;
}

.large .blur {
  opacity: 30%;
  filter: blur(120px);
}

.large .blur.light {
  opacity: 50%;
  width: 115%;
  height: 115%;
}

.large.card:hover .blur.light {
  width: 150%;
  height: 150%;
  opacity: 60%;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
}

.border {
  border: 2px solid var(--theme-text);
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 100%;

  background: none;
  border: none;
  border-radius: 0;
  padding: 0;

  cursor: pointer;
}

.name {
  margin: 0;
  padding: 8px 16px 2px 0;
  text-align: right;
  font-size: 1.2em;
  font-weight: normal;
  width: 100%;
  color: var(--theme-text);
}

.image {
  position: absolute;
  transform: translate(20%, -25%);

  width: 40px;
}

.large .image {
  width: 80px;
}

.teaser {
  width: 100%;
  min-height: 200px;
  padding: 32px 16px;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(
    176deg,
    transparent 0%,
    transparent 10%,
    var(--theme-background) 10.1%,
    var(--theme-background) 89.9%,
    transparent 90%,
    transparent 100%
  );
  color: var(--theme-text);
  opacity: 90%;
}

.teaser.contrast {
  opacity: 100%;
}

.info {
  padding: 4px;
  width: 100%;
}

.info > .waveDivider {
  display: block;
  fill: var(--theme-background-opaque);
  transform: translateY(0.25px);
}

.waveDivider.contrast > path {
  fill: var(--theme-background);
}

.info > .contentWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 16px 8px 8px 8px;

  width: 100%;
  height: 60px;

  font-weight: bold;
  color: var(--theme-text);

  background: var(--theme-background-opaque);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.contentWrapper.contrast {
  background: var(--theme-background);
}

.contentWrapper > .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-size: 0.9em;
  height: 100%;
}

.large .contentWrapper > .content {
  font-size: 1.15em;
}

.content > .contentTitle {
  font-family: Major Mono Display, monospace;
  font-size: 0.8em;
  font-weight: normal;
}

.contentWrapper > .divider {
  border-right: 1px solid var(--theme-text);
  height: 100%;
  opacity: 15%;
  margin: 0 4px;
}

@media screen and (max-width: 21rem) {
  .content {
    height: 125px;
  }

  .large > .content {
    height: 375px;
  }

  .teaser,
  .info {
    font-size: 0.9em;
  }
}
