.animatedScroll {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.mainContainer {
  transition: background-color 250ms;
  background-color: var(--theme-background);
}

.transitioning {
  composes: animatedScroll;
  animation-name: transition;

  overflow: hidden;
  will-change: transform, border-radius, box-shadow;
}

/* Fixes flickering background on Chrome */
.transitioning * {
  backdrop-filter: none !important;
}

@keyframes transition {
  from {
    transform: scale(100%) translateY(0px);
    border-radius: 0px;
  }
  to {
    transform: scale(90%) translateY(1000px);
    border-radius: 50px;
    box-shadow: 1px 1px 60px rgb(255, 255, 255, 0.6);
  }
}
