.animatedScroll {
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-timeline: view();

  animation-range: exit 0% exit-crossing 100%;
}

.mainContainer {
  background-color: var(--theme-background);
  transition: background-color 250ms;
}

.transitioning {
  composes: animatedScroll;
  will-change: transform, border-radius, box-shadow;
  overflow: hidden;
  animation-name: transition;
}

/* Fixes flickering background on Chrome */
.transitioning * {
  backdrop-filter: none !important;
}

@keyframes transition {
  from {
    transform: scale(100%) translateY(0);
    border-radius: 0;
  }

  to {
    transform: scale(90%) translateY(1000px);
    border-radius: 50px;
    box-shadow: 1px 1px 60px rgb(255, 255, 255, 20%);
  }
}
