.button {
  cursor: pointer;

  display: flex;
  align-items: center;

  height: fit-content;
  padding: 6px;

  font-size: 1.75rem;
  color: var(--theme-text);

  background: none;
  border: none;

  transition: color 1s ease-in-out;
}

.button:hover svg {
  transform: translateY(-5px) rotate(5deg);
  transition: transform 250ms cubic-bezier(0.97, -0.87, 0, 2.24);
}

.popover {
  transform-origin: top center;
  transform: translateX(-20px);

  display: flex;
  flex-direction: column;

  font-size: 0.75rem;
  line-height: 1em;

  opacity: 0%;
  background: var(--theme-text);
  border-radius: 5px;

  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

[data-enter] .popover {
  transform: translateX(0);
  opacity: 100%;
}

.popoverArrow > svg > :global(path.stroke) {
  display: none;
}

.popoverArrow > svg > :global(path.fill) {
  fill: var(--theme-text);
}

.title {
  padding: 16px 16px 8px;
  color: var(--theme-background);
  text-align: center;
}

.themeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;

  margin-top: 8px;
  padding: 0 16px 16px;
}

.themeButton {
  cursor: pointer;

  width: 1.75rem;
  height: 1.75rem;

  border: 2px solid var(--theme-shadow);
  border-radius: 100%;
  box-shadow: inset 0 0 0 2px var(--theme-text);
}

.themeButton[aria-pressed='true'] {
  border-color: var(--theme-background);
}

.checkbox {
  transform: translateY(1px);

  display: flex;
  align-items: center;

  padding: 8px 16px;

  font-size: 0.9rem;

  border-radius: 5px;
}

.checkbox > input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

@media screen and (width <= 30rem) {
  .popover {
    transform: translateY(-20px);
  }

  [data-enter] .popover {
    transform: translateY(0);
  }
}
