.waveBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.waveBackground svg {
  transform: translateY(-20px);

  width: calc(120vw + 200px);
  height: 100vh;

  stroke-width: 0;
  mask-image: linear-gradient(rgb(0, 0, 0, 50%) 0%, transparent 100%);
}

.wavePattern {
  transition: fill 500ms ease-in-out;
}

.wave {
  will-change: transform, fill;
  animation: wave 10s infinite ease-in-out;
}

.wavePrimary {
  animation-direction: alternate-reverse;
}

.waveSecondary {
  animation-direction: alternate;
}

@keyframes wave {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateX(0%);
  }
}
