.anchor {
  transform: translateY(-1.5em);
  height: 1px;
}

.section {
  position: relative;
  z-index: 1;
}

.title {
  display: flex;
  justify-content: center;

  margin: 1em 0 0;

  font-family: 'Major Mono Display', monospace;
  font-size: min(14vw, 10em);
  font-weight: bolder;
  line-height: 1em;
  color: rgba(var(--theme-code-accent-rgb), 5%);
  text-shadow: 0 0 var(--theme-background);

  background: linear-gradient(
    90deg,
    rgba(var(--theme-highlight-accent-rgb), 100%) 0%,
    rgba(var(--theme-highlight-rgb), 100%) 100%
  );
  background-clip: text;

  -webkit-text-stroke: 0.07em;
}

.title::before,
.title::after {
  content: '';

  flex: 1;
  align-self: center;

  height: 0.1em;

  background: linear-gradient(
    90deg,
    rgba(var(--theme-highlight-rgb), 100%) 0%,
    rgba(var(--theme-highlight-accent-rgb), 100%) 100%
  );
}

.title::before {
  margin-right: 0.15em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.title::after {
  margin-left: 0.15em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.animate {
  animation-name: textTransform;
  animation-duration: calc(var(--i) * 1s);
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
}

@keyframes textTransform {
  0% {
    text-transform: lowercase;
  }

  50% {
    text-transform: uppercase;
  }

  100% {
    text-transform: lowercase;
  }
}
