.scroll {
  position: relative;
  height: 200vh;
}

@media screen and (max-width: 1475px) {
  .scroll {
    height: 150vh;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  max-width: 2200px;

  margin: 0 auto;
  padding: 20vh 0;

  position: sticky;
  top: 0;
  overflow-x: hidden;
}

.anchor {
  transform: translateY(-200px);
}

.picture {
  width: 50vmin;
  height: 50vmin;
  border-radius: 100%;
  border: 5px solid var(--theme-primary-bright);
}

.bubble {
  background: var(--theme-text);
  color: var(--theme-background);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 1em;

  max-width: min(2200px, 80vw);
  margin: 0 auto;
}

.messages:first-child {
  position: sticky;
  top: 0;

  height: 100vh;

  /* border: 1px solid red; */
  padding-bottom: 1em;
}
