.scroll {
  position: relative;
  height: 200vh;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  max-width: 2200px;

  margin: 0 auto;
  padding: 20vh 0;

  position: sticky;
  top: 0;
  overflow-x: hidden;
}

.anchor {
  transform: translateY(-200px);
}

.picture {
  width: 50vmin;
  height: 50vmin;
  border-radius: 100%;
  border: 5px solid var(--theme-primary-bright);
}

.bubble {
  background: var(--theme-text);
  color: var(--theme-background);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 1em;

  max-width: min(2200px, 80vw);
  margin: 0 auto;
}

.animated-message {
  position: sticky;
  top: 0;

  height: 100vh;

  padding-bottom: 1em;
}

.message-list {
  position: relative;

  height: 50vh;
  padding-right: 1em;

  overflow: hidden auto;
}

.message-list::-webkit-scrollbar {
  width: 8px;
}

.message-list::-webkit-scrollbar-track {
  background-color: rgb(var(--theme-highlight-rgb), 0.1);
  border-radius: 100px;
}

.message-list::-webkit-scrollbar-thumb {
  background-color: var(--theme-accent-color);
  border-radius: 100px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.scroll-button {
  position: sticky;
  top: 0.5em;
  z-index: 1;

  display: flex;
  gap: 8px;

  margin: 0 auto;
  padding: 0.5em 1.5em;

  border: none;
  border-radius: 50px;

  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--theme-chat-outgoing-background);
  border: 1px dashed var(--theme-accent-color);
  color: var(--theme-text);

  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .message-list {
    height: 75vh;
  }
}

@media screen and (max-width: 1475px) {
  .scroll {
    height: 150vh;
  }
}
