.scroll {
  position: relative;
  height: 200vh;

  view-timeline-axis: block;

  view-timeline-name: --about-transition;
}

.about {
  position: sticky;
  top: 0;

  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  padding: 20vh 0;
}

.anchor {
  transform: translateY(-200px);
}

.picture {
  width: 50vmin;
  height: 50vmin;
  border: 5px solid var(--theme-primary-bright);
  border-radius: 100%;
}

.bubble {
  color: var(--theme-background);
  background: var(--theme-text);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 1em;

  max-width: min(1600px, 80vw);
  margin: 0 auto;
}

.animatedMessage {
  position: sticky;
  top: 0;
  height: 100vh;
  padding-bottom: 1em;
}

.messageListContainer {
  position: relative;
}

.messageList {
  position: relative;
  overflow: hidden auto;
  height: 50vh;
  padding-right: 1em;
}

.messageList::-webkit-scrollbar {
  width: 8px;
}

.messageList::-webkit-scrollbar-track {
  background-color: rgba(var(--theme-highlight-rgb), 10%);
  border-radius: 100px;
}

.messageList::-webkit-scrollbar-thumb {
  background-color: var(--theme-accent-color);
  background-clip: content-box;
  border: 3px solid transparent;
  border-radius: 100px;
}

.scrollButton {
  cursor: pointer;

  position: absolute;
  z-index: 1;
  top: 0.5em;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 8px;

  padding: 0.5em 1.5em;

  font-size: 0.75em;
  font-weight: bold;
  color: var(--theme-text);
  text-transform: uppercase;

  opacity: 100%;
  background: var(--theme-chat-outgoing-background);
  border: 1px dashed var(--theme-accent-color);
  border-radius: 50px;

  transition: opacity 250ms ease-in-out 250ms;
}

.scrollButton:disabled {
  opacity: 0%;
}

@media screen and (width <= 42rem) {
  .messageList {
    height: 75vh;
  }
}

@media screen and (width <= 82rem) {
  .scroll {
    height: 150vh;
  }
}
