@font-face {
  font-family: 'Major Mono Display';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    local(''),
    url('/fonts/major-mono-display-regular.woff2') format('woff2'),
    url('/fonts/major-mono-display-regular.woff') format('woff');
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local(''),
    url('/fonts/inter-regular.woff2') format('woff2'),
    url('/fonts/inter-regular.woff') format('woff');
}

@font-face {
  font-family: Inter;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    local(''),
    url('/fonts/inter-black.woff2') format('woff2'),
    url('/fonts/inter-black.woff') format('woff');
}

* {
  box-sizing: border-box;
}

::selection {
  color: rgba(var(--theme-highlight-accent-rgb), 100%);
  background: rgba(
    var(--theme-highlight-rgb),
    calc(
      max(
        10% + var(--theme-is-dark) * 30%,
        var(--theme-is-contrast) * 100%
      )
    )
  );
}

html {
  scroll-behavior: smooth;
  accent-color: var(--theme-accent-color, auto);
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: Inter, sans-serif;
  font-size: 1.06em;
  font-feature-settings: 'ss03', 'cv08', 'cv11', 'zero', 'cv02',
    'cv03', 'cv04', 'cv09';
  line-height: 1.75;
  color: var(--theme-text);
  letter-spacing: -0.014em;
}

a {
  margin: 0 -2px;
  padding: 0 2px;

  color: inherit;
  text-decoration: underline;
  text-decoration-color: rgba(var(--theme-highlight-rgb), 75%);
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;

  background-image: linear-gradient(
    rgba(var(--theme-highlight-rgb), 10%),
    rgba(var(--theme-highlight-rgb), 20%)
  );
  background-repeat: no-repeat;
  background-size: 0;

  transition: all ease-in-out 250ms;
}

a:hover {
  background-size: 100%;
}

a[target='_blank']::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-4M14 4h6m0 0v6m0-6L10 14'/%3E%3C/svg%3E");
  margin-left: 2px;
  vertical-align: middle;
  filter: brightness(0) invert(var(--theme-is-dark));
}

p {
  margin: 0.6em 0;
  padding-bottom: 0.5em;
}

code {
  display: inline-block;

  padding: 0 4px;

  font-family: monospace;
  font-size: 0.8em;
  color: rgba(var(--theme-code-accent-rgb), 100%);

  background: rgba(var(--theme-code-accent-rgb), 5%);
  border: 1px solid rgba(var(--theme-code-accent-rgb), 100%);
  border-radius: 5px;
}

html[data-reduced-motion='true'] {
  scroll-behavior: initial;
}

html[data-reduced-motion='true'] *,
html[data-reduced-motion='true'] *::before,
html[data-reduced-motion='true'] *::after {
  transition: none !important;
  animation-duration: 0s !important;
}

ul {
  list-style-image: var(--theme-list-style-image);
}

@media screen and (width <= 28rem) {
  body {
    background-size: 300%;
  }
}
